@media (min-width: 624px){
    .elmt--width, .cntnr--width {
        width: 85%;
    }

    .nvbr__menu {
        display: none;
    }

    .nvbr__table {
        display: flex;
        flex: 0.2 1 auto;
        column-gap: 1.5rem;
        justify-content: end;
    }

    .header__nvbr, .footer__cntnr {
        height: 8rem;
    }

    .sctn__main {
        margin-top: 2rem;
    }

    .tbl__sgn {
        width: 6rem;
    }

    .main__prgrph {
        margin-bottom: 8rem;
    }

    .footer__cntnr > div {
        display: flex;
        justify-content: space-between;
    }

    .footer__lst {
        column-gap: 2rem;
    }
}